:root {
  /* https://coolors.co */
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --slate-gray: #6c757dff;
  --davys-grey: #495057ff;
  --gunmetal: #343a40ff;
  --charleston-green: #212529ff;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--charleston-green);
}


.wrapper {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--slate-gray);
}

#chatPane {
  height: 100vh;
  flex-basis: 800px;
  display: flex;
  flex-direction: column;
}


#messagePane {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  background-color: var(--davys-grey);
}

#messagePane::-webkit-scrollbar {
  display: none;
}

#messagePane > div {
  margin: 3px 0px 0px 0px;
}

.message {
  padding: 8px;
  border-radius: 15px;
  display: inline-block;
  margin: 0px;
  overflow-wrap: anywhere;
}

.message > p {
  margin: 0px;
}

.messageOurs {
  background-color: lightblue;
  margin-right: 80px;
}

.messageTheirs {
  float: right;
  background-color: lightgray;
  margin-left: 80px;
}

.messageMeta {
  font-size: x-small;
  text-align: right;
}

#chatTextarea {
  height: 80px;
  width: 100%;
  resize: none;
}

